.random-article {
  text-align: center;
  color: black;
  font-size: 1.5rem;
}


  body {
   background: teal;
}

.section-search {
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-right: 280px;
    margin-left: 280px;
    
 }