.random-article { 
  color: black;
  font-size: 1.4rem;
  border-radius: 7px;
  background-color: cadetblue;
  outline: none!important;
  border: 1px solid cadetblue;

}

body {
  background: teal;
}

.section {
  margin-right: 150px;
  margin-left: 150px;
  
}
 
 a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: #000;
  background-color: cadetblue;
  border-radius: 5px; 
}

.title {
  padding: 10px;
  margin-top: 150px;
}

#textName {
  outline: none;
}
