.random-article {
  text-align: center;
  color: black;
  font-size: 1.5rem;
    /*background-color: rgba(255,255,255,0.7);*/
}


  body {
   background: teal;
}

.section-search {
    padding: 20px;
    margin-top: 100px;
    margin-right: 680px;
    margin-left: 680px;
    
 }

 /*.section {
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
  margin: 5px;
}*/

 a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

ul li {
  list-style-type: none;
}